.layout-area_main,
.layout-area_config {
    padding: 32px;
}
.layout-area_main {
    grid-area: main;
}
.layout-area_config {
    background: rgb(250, 250, 250);
    box-shadow: rgb(224, 224, 224) -1px 0px;
    grid-area: config;
}
.layout-area_form-controls {
    grid-area: form-controls;
    padding: 16px;
    height: fit-content;
}